.title-text {
    font-weight: 700;
    font-size: 19px;
    padding: 0;
    color: #ffffff;
    text-align: left;
    margin-left: 10px;
    margin-top: 40px;
}

.cards {
    display: flex;
    /* flex-wrap: wrap; */
    overflow-x: scroll;
    padding: 1em;
}

.card {
    flex: 1 0 250px;
    margin: 1rem .4em;
    border: #000000;
    border-radius: 5px;
    transition: 500ms linear;
    transition-duration: 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.cardImg {
    height: 250px;
    border-radius: 5px;
    position: relative;
}

.content {
    visibility: hidden;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    transition: 500ms linear;
    transition-duration: 0.3s;
    background-image: linear-gradient(to bottom, #000000, #303030, #5E5E5E, #919191, #C6C6C6);
}

.card:hover .content {
    visibility: visible;
}

.movie-title {
    font-size: 15px;
    color: #fff4f4;
    text-align: left;
    display: block;
    font-weight: 700;
    white-space: normal;
    margin-bottom: 4px;
}

.rating {
    color: #fff4f4;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
}

.overview {
    color: #fff4f4;
    text-align: left;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 60px;
}

.language {
    color: #fff4f4;
    text-align: left;
    font-size: 11px;
}

@media screen and (max-width: 600px) {
    .cards {
        padding: 0;
    }
    .card {
        flex: 1 0 150px;
        height: 150px;
    }
    .cardImg {
        height: 150px;
        border-radius: 5px;
    }
}

/* @media screen and (min-width: 60em) {
    .card {
        max-width: calc(25% - 1em);
    }
} */